*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #00bbf0;
  --light-yellow: #f8f398;
  --red: #ff5757;
  --green: #5be7a9;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  grid:
    "header header header" auto
    "main main main" 1fr
    "footer footer footer" auto /
    1fr 1fr 1fr;
}

#header {
  grid-area: header;
  text-align: center;
  font-family: "Fasthand", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 1px;
  background: var(--blue);
  color: white;
  padding: 20px;
}

#main {
  grid-area: main;
  color: white;
  position: relative;
  background-image: url(./aurora.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#forecast-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-yellow);
  border-radius: 1rem;
  padding: 20px 10px;
  position: relative;
  isolation: isolate;
}

.forecast::after {
  content: "";
  background-color: black;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.2;
  border-radius: 1rem;
}

.forecast .forecast-date {
  font-weight: 700;
}

.forecast .forecast-max-temperature,
.forecast .forecast-min-temperature {
  font-size: 0.8rem;
}

.forecast .forecast-max-temperature {
  color: var(--red);
}

.forecast .forecast-min-temperature {
  color: var(--blue);
}

#current-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 40px 0px 40px;
}

#left-panel,
#right-panel {
  letter-spacing: 2px;
  border: 1px solid var(--blue);
  border-radius: 2rem;
  padding: 40px 20px;
  position: relative;
  isolation: isolate;
}

#left-panel::after,
#right-panel::after {
  content: "";
  background-color: black;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.2;
  border-radius: 2rem;
}

#left-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}

#left-panel .current-condition {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--light-yellow);
}

#left-panel .current-city,
#left-panel .current-temperature {
  font-size: 1.5rem;
}

#left-panel .current-date {
  font-size: 0.9rem;
}

#left-panel .current-temperature {
  font-weight: 900;
  color: var(--light-yellow);
}

#left-panel .current-icon {
  width: 100px;
}

#right-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-width: 300px;
}

#right-panel .current-stat-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 900;
  gap: 3px;
}

#right-panel .current-stat-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--blue);
}

#search-container {
  display: flex;
  gap: 10px;
  margin-left: 40px;
}

#search-container input {
  outline: none;
  border-radius: 1rem;
  border: none;
  transition: all 200ms ease-in;
  border: 2px solid var(--green);
  text-align: center;
}

#search-container input:focus {
  border: 2px solid var(--red);
  transform: scale(1.05);
}

#search-container input::placeholder {
  text-align: center;
  color: black;
}

#search-container .search-icon {
  cursor: pointer;
  transition: opacity 150ms ease-in;
}

#search-container .search-icon:hover {
  opacity: 0.7;
}

#error-container {
  color: var(--red);
  font-size: 0.6rem;
  margin-left: 40px;
  margin-top: 10px;
}

#footer {
  grid-area: footer;
  text-align: center;
  background: var(--blue);
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#footer a {
  text-decoration: none;
  color: var(--light-yellow);
  font-weight: 900;
}
